<?xml version="1.0"?>
<config>
  <modules>
      <NightlyDev_FaviconBadge>
          <version>1.0.0.0</version>
      </NightlyDev_FaviconBadge>
  </modules>
  <global>
    <blocks>
      <nightlydevfaviconbadge>
          <class>NightlyDev_FaviconBadge_Block</class>
      </nightlydevfaviconbadge>
    </blocks>
    <helpers>
      <nightlydevfaviconbadge>
          <class>NightlyDev_FaviconBadge_Helper</class>
      </nightlydevfaviconbadge>
    </helpers>
    <models>
      <nightlydevfaviconbadge>
          <class>NightlyDev_FaviconBadge_Model</class>
      </nightlydevfaviconbadge>
    </models>
  </global>
  <frontend>
      <layout>
          <updates>
              <nightlydevfaviconbadge>
                  <file>nightlydevfaviconbadge.xml</file>
              </nightlydevfaviconbadge>
          </updates>
      </layout>
  </frontend>
  <adminhtml>
      <layout>
          <updates>
              <nightlydevfaviconbadge>
                  <file>nightlydevfaviconbadge.xml</file>
              </nightlydevfaviconbadge>
          </updates>
      </layout>
  </adminhtml>
  <default>
    <design>
      <nightlydevfaviconbadge>
        <enabled>0</enabled>
        <type>1</type>
        <bc>#5CB85C</bc>
        <tc>#ff0</tc>
        <pos>down</pos>
        <anim>popFade</anim>
        <shape>circle</shape>
      </nightlydevfaviconbadge>
      <nightlydevfaviconbadge_admin>
        <enabled>0</enabled>
        <alert>1</alert>
      </nightlydevfaviconbadge_admin>
    </design>
  </default>
</config>
